@model AccountManagement.API.AccountResource.Command.Register
@{
  ViewData["Title"] = "Register account";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="Register">

	@Html.HiddenFor(it => it.AccountId)
	@Html.HiddenFor(it => it.MessageId)

	@Html.LabelFor(it => it.Email)
	@Html.TextBoxFor(it => it.Email)

	@Html.LabelFor(it => it.Password)
	@Html.PasswordFor(it => it.Password)

	<button type="submit">Register</button>

	@Html.ValidationSummary()
</form>
