@model AccountManagement.API.AccountResource.Command.LogIn

@{ ViewData["Title"] = "Log in"; }

<h2>Login</h2>

<form method="post" asp-action="Login">

	@Html.HiddenFor(it => it.MessageId)
	@Html.LabelFor(it => it.Email)
	@Html.TextBoxFor(it => it.Email)

	@Html.LabelFor(it => it.Password)
	@Html.PasswordFor(it => it.Password)

	<button type="submit">Login</button>

	@Html.ValidationSummary()
</form>
